.type-detail-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  color: #555050;
}

.type-detail-info {
  text-align: center;
  height: 64px;
  max-width: 64%;
  margin: 0;
  color: #555050;
  font-size: 16px;
}