.type-btn {
  background-color: #fff;
  border: 1px #555050 solid;
}

.type-btn-selected {
  background-color: #e4000f;
  color: #fff;
  border: none;
}

.type-btn, .type-btn-selected {
  border-radius: 8px;
  width: 72px;
  height: 24px;
  font-size: 14px;
}

.type-btn:hover {
  background-color: #c5c5c5;
}

.type-btn:hover, .type-btn-selected:hover {
  cursor: pointer;
  border: 1px #9a8b8b solid;
}