<section class="pokemon-moves-index-container" tabindex="0">
  <table mat-table [dataSource]="dataSource" matSort>
     <!-- Type Column -->
     <ng-container matColumnDef="pokemonType">
      <th class="center" mat-header-cell *matHeaderCellDef>{{ typeColumnHeader }}</th>
      <td mat-cell *matCellDef="let element"> 
          <app-pokemon-type-chip [pokemonType]="element.pokemonType"></app-pokemon-type-chip> 
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="w-148" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        {{ nameColumnHeader }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
        {{ categoryColumnHeader }}
      </th>
      <td mat-cell *matCellDef="let element">
        <img 
          *ngIf="element.categoryImageUrl; else NoCategory" 
          [matTooltip]="element.category + ' move'"
          class="move-category-img" 
          [src]="element.categoryImageUrl" 
          [alt]="element.category"
        />
      </td>
    </ng-container>

    <!-- Power Column -->
    <ng-container matColumnDef="power">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by power">
        {{ powerColumnHeader }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.power }}</td>
    </ng-container>

    <!-- Accuracy Column -->
    <ng-container matColumnDef="accuracy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by accuracy">
        {{ accuracyColumnHeader }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.accuracy }}</td>
    </ng-container>

    <!-- PP Column -->
    <ng-container matColumnDef="pp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by PP (power points)">
        {{ ppColumnHeader }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.pp }}</td>
    </ng-container>

    <!-- Effect Column -->
    <ng-container matColumnDef="effect">
      <th mat-header-cell *matHeaderCellDef>{{ effectColumnHeader }}</th>
      <td mat-cell *matCellDef="let element">{{ element.effect }}</td>
    </ng-container>

    <!-- % Column -->
    <ng-container matColumnDef="probability">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by probability of additional effect">
        {{ probabilityColumnHeader }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.probability ? element.probability + '%' : '—' }}
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #NoCategory>
  <p>—</p>
</ng-template>