.pokemon-type-effect-container {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.pokemon-type-effect-header {
  align-self: center;
  text-align: center;
  width: 316px;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px #c5c5c5 solid;
}

.pokemon-type-effect {
  display: flex;
  flex-direction: column;
}

.pokemon-type-effect-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555050;
}

.pokemon-type-effect-info {
  text-align: center;
  height: 76px;
  max-width: 64%;
  margin: 0;
  color: #555050;
  font-size: 14px;
}

.pokemon-type-chips-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  height: 76px;
}