<div class="pokemon-type-effect-container">
  <h3 class="pokemon-type-effect-header">{{ detailType }}</h3>
  <div class="pokemon-type-effect">
    <div 
      *ngFor="let effect of pokemonTypeEffect$ | async"
      class="pokemon-type-effect-info-container"
    >
      <h4>{{ effect.pokemonTypeEffect }}</h4>
      <div 
        *ngIf="effect.pokemonTypes.length; else NoTypes" 
        class="pokemon-type-chips-container"
      >
        <app-pokemon-type-chip 
          *ngFor="let pokemonType of effect.pokemonTypes"
          [pokemonType]="pokemonType"
          [@fadeIn]="'active'"
        ></app-pokemon-type-chip>
      </div>
    </div>
  </div>
</div>

<ng-template #NoTypes>
  <p class="pokemon-type-effect-info" [@fadeIn]="'active'">—</p>
</ng-template>