.pokemon-type-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pokemon-type-detail-sections-container {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

.pokemon-type-detail-section-divider {
  width: 1px;
  background-color: #c5c5c5;
}