.nav-container {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  position: sticky;
  top: 0;
  background-color: #e4000f;
  color: #fff;
}

.nav-heading {
  font-size: 24px;
}

.nav-routes-container {
  display: flex;
}