.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  position: sticky;
  top: 0;
  background-color: #e4000f;
  color: #fff;
}

.nav-heading {
  font-size: 24px;
}

.nav-routes-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.nav-route-btn {
  border: 1px #555050 solid;
  border-radius: 4px;
  width: 80px;
  height: 24px;
  background-color: #fff;
}

.nav-route-btn:hover {
  cursor: pointer;
  border: 1px #9a8b8b solid;
  background-color: #c5c5c5;
}