.type-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.type-detail-header {
  align-self: center;
}

.type-detail-sections-container {
  display: flex;
  justify-content: space-around;
}

.type-detail-section-divider {
  width: 1px;
  background-color: #c5c5c5;
}

.type-detail-section {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  min-width: 440px;
}

.type-detail-section-header {
  align-self: center;
  text-align: center;
  width: 332px;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px #c5c5c5 solid;
}


.type-detail {
  display: flex;
  flex-direction: column;
}