.type-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 24px;
}

.type-detail-header {
  align-self: center;
}

.type-detail-sections-container {
  display: flex;
  justify-content: space-around;
}

.type-detail-section {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 400px;
}

.type-detail-section-header {
  align-self: center;
  margin-top: 0;
}


.type-detail {
  display: flex;
  flex-direction: column;
}