<mat-sidenav 
  *ngIf="(selectedPokemonTypes$| async) as selectedTypes"  
  mode="side" 
  opened 
  fixedInViewport="fixed"
>
  <div class="pokemon-type-picker-container">
    <button 
      *ngFor="let pokemonType of pokemonTypes"
      mat-raised-button 
      ripple
      class="pokemon-type-picker-btn"
      [ngClass]="{ 'selected': selectedTypes.includes(pokemonType) }"
      [ngStyle]="{ 'background-color': selectedTypes.includes(pokemonType) 
        ? pokemonTypeColors[pokemonType] 
        : 'white' 
      }"
      (click)="selectPokemonType(pokemonType)"
    >
      {{ pokemonType.toUpperCase() }}
    </button>
  </div>
</mat-sidenav>