.pokemon-type-effect-index-container {
  height: 600px;
}

.pokemon-type-chip-container {
  display: grid;
  grid-template-columns: repeat(9, 70px);
  grid-gap: 4px;
}

.selected-type-chip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content {
  text-align: center;
  vertical-align: middle;
}

.w-104 {
  min-width: 104px;
}

.w-180 {
  min-width: 188px;
}

.w-200 {
  min-width: 200px;
}

.no-types {
  padding-left: 12px;
}
