.pokemon-type-effect-index-container {
  height: 572px;
}

.pokemon-type-chip-container {
  display: grid;
  grid-template-columns: repeat(9, 70px);
  grid-gap: 4px;
}

.selected-type-chip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content {
  text-align: center;
  vertical-align: middle;
}

.w-100 {
  width: 100px;
}

.w-142 {
  width: 142px;
}

.w-800 {
  width: 800px;
}

.no-types {
  padding-left: 12px;
}
