<section 
  *ngIf="(pokemonTypeEffect$ | async) as pokemonTypeEffects" 
  class="pokemon-type-effect-index-container" 
  tabindex="0"
>
  <table mat-table [dataSource]="pokemonTypeEffects">
    <!-- Effect Column -->
    <ng-container matColumnDef="Effect">
      <th class= "w-160" mat-header-cell *matHeaderCellDef>Effect</th>
      <td mat-cell *matCellDef="let pokemonTypeEffect">{{ pokemonTypeEffect.effect }}</td>
    </ng-container>
    <!-- Damage Column -->
    <ng-container matColumnDef="Damage">
      <th class= "damage-column-cell w-160" mat-header-cell *matHeaderCellDef>Damage</th>
      <td class="damage-column-cell" mat-cell *matCellDef="let pokemonTypeEffect">{{ pokemonTypeEffect.damageMultiplier }}</td>
    </ng-container>
    <!-- Pokemon Types Column -->
    <ng-container matColumnDef="Pokemon Types">
      <th mat-header-cell *matHeaderCellDef>Pokemon Types</th>
      <td mat-cell *matCellDef="let pokemonTypeEffect"> 
        <div *ngIf="pokemonTypeEffect.pokemonTypes.length; else NoTypes" class="pokemon-type-chip-container">
          <app-pokemon-type-chip 
            *ngFor="let pokemonType of pokemonTypeEffect.pokemonTypes" 
            [pokemonType]="pokemonType"
          ></app-pokemon-type-chip> 
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #NoTypes>
  <p>—</p>
</ng-template>