<section 
  *ngIf="(pokemonTypeEffect$ | async) as pokemonTypeEffects" 
  class="pokemon-type-effect-index-container" 
  tabindex="0"
>
  <table mat-table [dataSource]="pokemonTypeEffects">
    <!-- Selected Type(s) Column -->
    <ng-container matColumnDef="Selected Type(s)">
      <th class="center-content w-142" mat-header-cell *matHeaderCellDef>Selected Type(s)</th>
      <td class="center-content" mat-cell *matCellDef="let pokemonTypeEffect"> 
        <div *ngIf="pokemonTypeEffect.types.length; else NoTypes" class="selected-type-chip-container">
          <app-pokemon-type-chip 
            *ngFor="let pokemonType of pokemonTypeEffect.types" 
            [pokemonType]="pokemonType"
          ></app-pokemon-type-chip> 
        </div>
      </td>
    </ng-container>
    <!-- Effect Column -->
    <ng-container matColumnDef="Effect">
      <th class="center-content w-142" mat-header-cell *matHeaderCellDef>Effect</th>
      <td class="center-content" mat-cell *matCellDef="let pokemonTypeEffect">{{ pokemonTypeEffect.effect }}</td>
    </ng-container>
    <!-- Damage Column -->
    <ng-container matColumnDef="Damage">
      <th class="center-content w-100" mat-header-cell *matHeaderCellDef>Damage</th>
      <td class="center-content" mat-cell *matCellDef="let pokemonTypeEffect">
        {{ pokemonTypeEffect.damageMultiplier }}
      </td>
    </ng-container>
    <!-- Pokemon Types Column -->
    <ng-container matColumnDef="Pokemon Types">
      <th class="w-800" mat-header-cell *matHeaderCellDef>Pokemon Types</th>
      <td mat-cell *matCellDef="let pokemonTypeEffect"> 
        <div 
          *ngIf="pokemonTypeEffect.pokemonTypes.length; else NoTypes" 
          class="pokemon-type-chip-container"
        >
          <app-pokemon-type-chip 
            *ngFor="let pokemonType of pokemonTypeEffect.pokemonTypes" 
            [pokemonType]="pokemonType"
          ></app-pokemon-type-chip> 
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #NoTypes>
  <p class="no-types">—</p>
</ng-template>