.pokemon-type-effect-index-container {
  height: 514px;
}

.pokemon-type-chip-container {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  grid-gap: 4px;
}

.center-content {
  text-align: center;
  vertical-align: middle;
}

.w-144 {
  width: 144px;
  min-width: 144px;
}

.damage-column-cell {
  width: 56px;
}

.no-types {
  padding-left: 12px;
}
