.pokemon-index-container { height: 572px; }

.pokemon-type-chip-container {
  display: flex;
  justify-content: center;
}

.pokemon-sprite {
  width: 76px;
  height: 76px;
}

.center-content {
  text-align: center;
  vertical-align: middle;
}

.w-192 { width: 192px; } 

.w-200 { width: 232px; }

.empty {
  padding: 64px;
  height: 48px;
  font-size: 16px;
  text-align: center;
}