<div class="pokemon-index-container">
  <mat-grid-list  cols="6" rowHeight="72px">
    <mat-grid-tile *ngFor="let columnName of columnNames">
      <strong>{{ columnName }}</strong>
    </mat-grid-tile>
    <div *ngFor="let pokemon of (filteredPokemon$ | async) as filteredPokemon">
      <mat-grid-tile>{{ pokemon.id }}</mat-grid-tile>
      <mat-grid-tile>
        <img class="pokemon-sprite" [src]="pokemon.sprite"/>
      </mat-grid-tile>
      <mat-grid-tile>{{ pokemon.name }}</mat-grid-tile>
      <mat-grid-tile>
        <app-pokemon-type-chip [pokemonType]="pokemon.typeOne"></app-pokemon-type-chip>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-pokemon-type-chip 
          *ngIf="pokemon.typeTwo; else NoTypes"
          [pokemonType]="pokemon.typeTwo"
        ></app-pokemon-type-chip>
      </mat-grid-tile>
      <mat-grid-tile>{{ pokemon.totalBaseStat }}</mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<ng-template #NoTypes>
  <p>{{ notApplicable }}</p>
</ng-template>