<section 
  *ngIf="(filteredPokemon$ | async) as filteredPokemon" 
  class="pokemon-index-container" 
  tabindex="0"
>
  <table mat-table [dataSource]="filteredPokemon">
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>
        ID
      </th>
      <td mat-cell *matCellDef="let pokemon">
        {{ pokemon.id }}
      </td>
    </ng-container>
    <!-- Sprite Column -->
    <ng-container matColumnDef="Sprite">
      <th class="center-content" mat-header-cell *matHeaderCellDef>
        Sprite
      </th>
      <td class="center-content" mat-cell *matCellDef="let pokemon"> 
        <img class="pokemon-sprite" [src]="pokemon.sprite" [alt]="pokemon.name"/> 
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th class="center-content w-160" mat-header-cell *matHeaderCellDef>
        Name
      </th>
      <td class="center-content" mat-cell *matCellDef="let pokemon">
        {{ pokemon.name }}
      </td>
    </ng-container>
    <!-- Primary Type Column -->
    <ng-container matColumnDef="Primary Type">
      <th class="center-content" mat-header-cell *matHeaderCellDef>
        Primary Type
      </th>
      <td class="center-content" mat-cell *matCellDef="let pokemon"> 
        <div class="pokemon-type-chip-container">
          <app-pokemon-type-chip [pokemonType]="pokemon.typeOne"></app-pokemon-type-chip> 
        </div>
      </td>
    </ng-container>
    <!-- Secondary Type Column -->
    <ng-container matColumnDef="Secondary Type">
      <th class="center-content" mat-header-cell *matHeaderCellDef>
        Secondary Type
      </th>
      <td class="center-content" mat-cell *matCellDef="let pokemon"> 
        <div *ngIf="pokemon.typeTwo; else NoTypes" class="pokemon-type-chip-container">
          <app-pokemon-type-chip [pokemonType]="pokemon.typeTwo"></app-pokemon-type-chip>
        </div>
      </td>
    </ng-container>
    <!-- Total Base Stat Column -->
    <ng-container matColumnDef="Total Base Stat">
      <th class="center-content" mat-header-cell *matHeaderCellDef>
        Total Base Stat
      </th>
      <td class="center-content" mat-cell *matCellDef="let pokemon">
        {{ pokemon.totalBaseStat }}
      </td>
    </ng-container>
    <!-- Empty Data -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell empty" colspan="6">
        None of the first 151 Pokemon have this typing.
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #NoTypes>
  <p>—</p>
</ng-template>