.pokemon-index-container { height: 572px; }

.pokemon-type-chip-container {
  display: flex;
  justify-content: center;
}

.pokemon-sprite {
  width: 76px;
  height: 76px;
}

.center-content {
  text-align: center;
  vertical-align: middle;
}

.w-120 { width: 120px; }

.w-140 { width: 140px; }

.w-160 { width: 160px; }

.w-240 { width: 240px; }

.w-480 { width: 480px; }

.empty {
  padding: 64px;
  height: 48px;
  font-size: 16px;
  text-align: center;
}