td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.pokemon-index-container {
  height: 392px;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.pokemon-type-chip-container {
  display: flex;
  justify-content: center;
}

.pokemon-sprite {
  width: 68px;
  height: 68px;
}

.w-200 {
  width: 200px;
}

.mat-cell-empty {
  padding: 64px;
  height: 48px;
  font-size: 16px;
}