.pokemon-card-container {
  display: flex;
  align-items: center;
}

.cell {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 8px;
  border: 1px solid black;
}

.name-cell {
  width: 240px;
}

.type-cell {
  width: 100px;
}