.pokemon-type-picker-container {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0;
}

.pokemon-type-picker-types-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(9, 76px);
  grid-gap: 8px;
}

.pokemon-type-picker-btn, .pokemon-type-picker-btn-selected {
  border-radius: 8px;
  width: 72px;
  height: 28px;
  font-size: 12px;
}

.pokemon-type-picker-btn-selected {
  color: white;
  border: solid 1px #636365;
  text-shadow: -1px 1px 0 black, 
    1px 1px 0 black, 
    1px -1px 0 black, 
    -1px -1px 0 black;
}