.pokemon-type-picker-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 80px);
  grid-gap: 16px;
  height: 72%;
  padding: 32px 20px 0 0;
}

.pokemon-type-picker-btn {
  border-radius: 8px;
  width: 80px;
  height: 36px;
  font-size: 11px;
}

.selected {
  color: white;
  border: solid 1px #636365;
  text-shadow: -1px 1px 0 black, 
    1px 1px 0 black, 
    1px -1px 0 black, 
    -1px -1px 0 black;
}