<div 
  *ngIf="(selectedPokemonTypes$| async) as selectedTypes" 
  class="pokemon-type-picker-container"
>
  <button 
    *ngFor="let pokemonType of pokemonTypes"
    mat-raised-button 
    ripple
    class="pokemon-type-picker-btn"
    [ngClass]="{ 
      'selected': selectedTypes.includes(pokemonType)
    }"
    [ngStyle]="{ 
      'background-color': selectedTypes.includes(pokemonType) 
        ? pokemonTypeColors[pokemonType] 
        : 'white' 
    }"
    (click)="selectPokemonType(pokemonType)"
  >
    {{ pokemonType.toUpperCase() }}
  </button>
</div>
